<<<<<<< HEAD
<p>
<strong>Commenter:</strong>
<%= comment.commenter %>
</p>
<p>
<strong>Comment:</strong>
<%= comment.body %>
</p>
<p>
<%= link_to 'Destroy Comment', [comment.article, comment],method:
:delete,data: { confirm: 'Are you sure?' } %>
</p>
=======
<div class="card mb-3">
  <div class="card-body">
    <p><strong>Comentario:</strong> <%= comment.commenter %></p>

   <strong>Email:</strong>

    <%= comment.email %>
    <%= button_to "Borrar Comentario", article_comment_path(comment.article, comment),
      method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
  </div>
</div>


<p>
    <strong>Comment:</strong>
    <%= comment.body %>
</p>
<% if comment.user == current_user || comment.article.user == current_user %>
  <p>
    <%= link_to 'Destroy Comment', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
>>>>>>> 734aed9 (Actualizacion final)
